<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <link rel="shortcut icon" type="image/x-icon" href="../icons/2x/relatorio.png" />
    <title>Relatórios - Controle de Horas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:400,500" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body class="container text-center">
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand medium" href="#">Controle de Horas</a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link medium" href="home">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle medium" id="navbarDropdownMenuLink" data-toggle="dropdown">
                Funcionarios
                </a>
                <div class="dropdown-menu">
                <a class="dropdown-item light" href="cad_func">Cadastrar</a>
                <a class="dropdown-item light" href="edit_func">Editar|Excluir</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle medium" id="navbarDropdownMenuLink" data-toggle="dropdown">
                Ponto
                </a>
                <div class="dropdown-menu">
                <a class="dropdown-item light" href="cad_ponto">Cadastrar</a>
                <a class="dropdown-item light" href="edit_ponto">Editar|Excluir</a>
                </div>
            </li>
            <li class="nac-link active">
                <a class="nav-link medium" href="relatorios">Relatórios</a>
            </li>
            <li class="nav-item">
                <a class="nav-link medium" href="about">Sobre</a>
            </li>
            </ul>
        </div>
    </nav>

    <h1 class="medium" style="margin-top: 50px;margin-bottom: 50px;font-size: 50px;">Relatórios</h1>
    
    <div class="card card-default text-center" style="margin: 15px; height: 100%; padding: 50px;">
        <form class="form col-12" method="post" id="formRelatorio">
            <div class="form-group row col-12">
                <label for="example-text-input" class="col-12 col-form-label medium">Insira o email para envio do relatorio:</label>
                <br><br>
                <div class="col-2"></div>
                <input class="form-control light col-9" type="text" name="email" placeholder="nome@provedor.com.br">
                <div class="col-1"></div>
            </div>
            <div class="col-12" style="margin-top: 5px; margin-bottom: 5px;"></div>
            <div class="form-group row col-12">
                <div class="col-2"></div>
                <input class="btn btn-success col-4" type="submit" value="Funcionarios" id="enviarFuncionarios"/>
                <div class="col-1"></div>
                <input class="btn btn-success col-4" type="submit" value="Pontos" id="enviarPontos"/>
                <div class="col-1"></div>
            </div>
        </form>
    </div>
</body>
<script src="../javascript/relatorios.js"></script>
</html>